name: Deploy to EKS

on:
  # workflow_run:
  #   workflows: ["ci.yml"] 
  #   types:
  #     - completed
  #   branches:
  #     - cc-test # Only run after CI jobs on the 'cc-test' branch
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy to k8s goat scenarios to EKS
    runs-on: ubuntu-latest 
    env:
        EKS_CLUSTER_NAME: kwan-k8s-goat-cluster
    
    # if: github.event.workflow_run.conclusion == 'success'
    steps:      
      - name: Checkout Repository
        uses: actions/checkout@v5
        with: 
          ref: 'cc-test'
    
      # configure OIDC for github actions first to create the IAM role: https://docs.github.com/en/actions/how-tos/secure-your-work/security-harden-deployments/oidc-in-aws
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_FOR_GHA }}
          aws-region: us-east-2

      - name: Update Kubeconfig for EKS
        run: aws eks update-kubeconfig --name ${EKS_CLUSTER_NAME} --region us-east-2 

      - name: Execute Cleanup Script
        run: |
          echo "Starting cleanup script first to tear down previous deployment..."
          chmod +x teardown-kubernetes-goat-kwan.sh
          sh ./teardown-kubernetes-goat-kwan.sh
          echo "Cleanup script finished."

      - name: Sleep for 60 Seconds
        # Using the standard 'sleep' command available on Linux runners (ubuntu-latest)
        run: |
          echo "Pausing workflow execution for 60 seconds..."
          sleep 60
          echo "Resuming execution."
          
      - name: Deploy to cluster
        run: |
          chmod +x setup-kubernetes-goat-kwan.sh
          ./setup-kubernetes-goat-kwan.sh
